html{
  font-size: 22px;
}

body{
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  filter: opacity(0.9);
  text-align: center;
}

.main{
  max-width: 1200px;
  margin: 0 auto;
}

header{
  border-bottom: 1px solid seashell;
  height: 68px;
  position: fixed;
  z-index: 5;
  width: 100%;
  background-color: black;
}

footer{
  text-align: left;
  padding-left: 20px;
  font-weight: bold;
  font-size: 0.83em;
}

.logo{
  height: 2.3rem;
  margin-left: 0.5rem;
}

nav span{
  display: inline-block;
  padding: 1rem 0.5rem;
}

.flex-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#mission{
  background-image: url(../images/img-mission-background.jpg);
  background-size: cover;
  height: 32rem;
  padding-top: 70px;
}

#mission .content{
  background-color: black;
  width: 100%;
}

#store {
    height: 32rem;
    padding-top: 3.25rem;
}

#store .images{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

#store .images img{
  max-width: 100%;
  height: auto;
  display: block;
}

#locations{
  background-image: url(../images/img-locations-background.jpg);
  background-size: cover;
  height: 26rem;
  padding-top: 3.25rem;
}

#locations .flex-container {
    padding-top: 5px;
    justify-content: center;
    flex-wrap: wrap;
}

.location {
    background-color: black;
    padding: 0.5rem;
    margin: 0.25rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* flex-basis: 280px; */
    filter: opacity(1);
    width: 13.6rem;
/*    height: 11.5rem;*/
}

#contact{
  height: 200px;
}

.item {
    padding: 5px;
    width: 25%;
    overflow: hidden;
    margin: 0.5rem;
    display: flex;
    height: auto;
    flex-direction: column;
}

.item span{
  font-weight: bold;
  margin-top: 0.5rem;
}

h2{
  font-size: 1.5rem;
}

h4{
  font-size: 1rem;
}

h2, h3, h4{
  padding: 0.45rem;
  font-weight: bold;
}

p{
  margin: 1rem 0px;
}

h5{
  font-size: 0.83em;
  font-weight: bold;
  margin: 1.67em 0;
}

a:-webkit-any-link {
  color: seashell;
  cursor: auto;
  text-decoration: underline;
  font-size: 1rem;
}

@media only screen and (max-width: 1125px){
  p{
    margin: 2px;
  }
  h2{
    font-size: 1.25rem;
  }
  h4{
    font-size: 0.84rem;
  }
  #mission{
    height: 15rem;
  }
  #store {
      height: 27rem;
      padding-top: 1.5rem;
  }
  #locations{
    height: 18rem;
    padding-top: 1.5rem;
  }

}

@media only screen and (max-width: 568px){
  #bedford{
    display:none;
  }
  .item {
      padding: 5px;
      width: 40%;
  }
  .item span{
    font-size: 1rem;
  }
  h3{
    font-size: 1rem;
  }
  html{
    font-size: 16px;
  }

  #mission{
    height: 16rem;
  }
  #contact{
    padding-top: 100px;
  }

}
