body{
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  filter: opacity(0.9);
  text-align: center;
}

header{
  border-bottom: 1px solid seashell;
  height: 68px;
  position: fixed;
  z-index: 5;
  width: 100%;
  background-color: black;
}

footer{
  text-align: left;
  padding-left: 20px;
  font-weight: bold;
  font-size: 0.83em;
}

.logo{
  height: 50px;
  margin-left: 10px;
}

nav span{
  display: inline-block;
  padding: 20px 10px;
}

.flex-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#mission{
  background-image: url(../images/img-mission-background.jpg);
  height: 700px;
  padding-top: 70px;
}

#mission .content{
  margin: auto;
  background-color: black;
  width: 100%;
}

#store{
  height: 700px;
  padding-top: 70px;
}
#store .images{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#store .images img{
  height: 200px;
  margin: 10px;
  display: block;
}

#locations{
  background-image: url(../images/img-locations-background.jpg);
  height: 570px;
  padding-top: 70px;
}

#locations .flex-container {
    padding-top: 5px;
    justify-content: center;
    flex-wrap: wrap;
}

.location{
  background-color: black;
  padding: 10px;
  margin: 5px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 280px;
  filter: opacity(1);
}

#contact{
  height: 200px;
}

.item{
  padding: 5px;
}

.item span{
  font-weight: bold;
}

h2{
  font-size: 1.5em;
}

h2, h3, h4{
  padding: 10px;
  font-weight: bold;
}

p{
  margin: 1em 0px;
}

h5{
  font-size: 0.83em;
  font-weight: bold;
  margin: 1.67em 0;
}

a:-webkit-any-link {
  color: seashell;
  cursor: auto;
  text-decoration: underline;
}
